body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: 500;
}

#app {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#question-container,
#result-container {
    text-align: center;
    animation: fadeIn 1s;
}

#answers button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

#answers button:hover {
    background-color: #0056b3;
    transform: scale(1.1); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    margin: 1em 0;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main{
    align-items: center;
}