body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#answers button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#answers button:hover {
    background-color: #0056b3;
}

#result-container {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#quiz-container {
    animation: fadeIn 1s;
}